#legend {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 9999;

  img {
    border: 1px #3f3f3f solid;
    border-radius: 5px;
  }

  span{
    position: absolute;
    right: 40px;
  }

  .legendMax {
    top: 0;
  }

  .legendMin {
    bottom: 0;
  }
}
